:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    /* Colors */
    --red: #FF5555;
    --light-red: #FF937E;
    --light-green: #C1E59F;
    --green: #A3D78A;
    --dark-green: rgb(0, 51, 27);
    --gold: rgb(255, 247, 134);
    --dark-gold: rgba(33, 105, 0, 0.493);
    font-weight: 700;
    --shadow: rgba(53, 11, 0, 0.267) 4px 4px 4px;
}

body,
h1,
h2,
h3,
h4,
p,
button,
ul,
li,
div,
main,
header {
    padding: 0;
    margin: 0;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}
input {
    font-family: inherit;
    border-style: none;
}

input:focus {
    outline: var(--dark-gold) 2px solid;
    border-radius: 3px;
}

body {
    background: var(--red);
    display: grid;
    grid-template-rows: max-content;
    gap: 0.5rem;
    padding: 0.5rem;
}

header {
    display: flex;
    place-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: var(--light-red);
    border-radius: 12px;
    min-width: 50%;
    max-width: 80%;
    flex-basis: 10%;
    padding: 1rem;
    box-shadow: var(--shadow);
}
header h1 {
    place-self: center;
    color:white;
}

dialog {
    border: 8px var(--green) solid;
    border-radius: 18px;
    background: var(--light-green);
    width: 60vw;
}

.add-new-book {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    background: var(--green);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: var(--shadow);
}

.add-new-book-area {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type="text"] {
    font-size: 1rem;
    padding-left: 0.5em;
    height: 2rem;
    width: max-content;
}

button:hover,
dialog button:hover {
    background: var(--light-red);
}
.add-button:hover {
    background: var(--gold);
}

.add-book {
    background: var(--red);
    color: white;
}

.add-button,
dialog p,
label {
    color: var(--dark-green);
}

.add-button {
    padding: 1rem;
    border-style: none;
    background: var(--green);
}

.bookshelf {
    background: var(--light-red);
    color: var(--dark-green);  
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    gap: 1rem; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    min-height: 440px;
    box-shadow: var(--shadow);
}

/* Inserted with Javascript */
.book-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 300px;
    height: 400px;
    background: var(--green);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: var(--shadow);
}

.book-card.read {
    background: var(--gold);
}
.book-card.read::after {
    content: "Read!";
    font-size: 2rem;
    color: var(--dark-gold);
    display:inline;
    position: absolute;
    top: 1rem;
    left: 0.1rem;
    transform: rotate(-45deg);
}
.title::before {
    content: "Title";
    top: 10px;
}
.author::before {
    content: "Author";
    top: 112px;

}
.genre::before {
    content: "Genre";
    top: 220px;
}

.title::before,
.author::before,
.genre::before {
    display: inline-block;
    position: absolute;
    left: 9rem;
    color:#0b240081
}

p {
    background: var(--light-green);
    flex-basis: 15%;
    width: 80%;
    border-radius: 8px;
    text-align: center;
    align-content: center;
}

p.read {
    background: rgb(206, 255, 70);
    color: rgb(95, 73, 0);
}
.button-area {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.remove-button {
    color: white;
    background: var(--red);
}

button  {
    padding: 1em;
    font-size: 15px;
    border-radius: 3px;
    border-style: none;
    font-weight: 700;
    box-shadow: var(--shadow);
}
