:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    /* Colors */
    --red: #FF5555;
    --light-red: #FF937E;
    --light-green: #C1E59F;
    --green: #A3D78A;
    font-weight: 700;
}

body,
h1,
h2,
h3,
h4,
p,
button,
ul,
li,
div,
main,
header {
    padding: 0;
    margin: 0;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

body {
    background: var(--red);
}

header {
    display: grid;
}
header h1 {
    place-self: center;
    color:white;
}

.bookshelf {
    background: var(--light-red);
    color: rgb(0, 51, 27);    
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    gap: 1rem; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}

/* Inserted with Javascript */
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 300px;
    height: 400px;
    background: var(--green);
    border-radius: 8px;
    padding: 1rem;
}

p {
    background: var(--light-green);
    flex-basis: 15%;
    width: 80%;
    border-radius: 8px;
    text-align: center;
    align-content: center;
}

.button-area {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}
.read-button {
    padding: 1em;
    font-size: 15px;
    border-radius: 3px;
    border-style: none;
    font-weight: 700;
}

.remove-button {
    padding: 1em;
    font-size: 15px;
    border-radius: 3px;
    border-style: none;
    color: white;
    font-weight: 700;
    background: var(--red);
}